---
import Header from './Header.astro';
import favIcon32 from '../assets/images/favicon-32x32.png';
import favIcon16 from '../assets/images/favicon-16x16.png';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='fr'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <!-- font -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'
      rel='stylesheet'
    />
    <link rel='icon' type='image/png' sizes='32x32' href={favIcon32.src} />
    <link rel='icon' type='image/png' sizes='16x16' href={favIcon16.src} />
    <title>{title}</title>
  </head>
  <body class='mx-auto max-w-7xl py-6 selection:bg-black selection:text-white'>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'CooperLight';
    src:
      url('/fonts/cooperl.woff2') format('woff2'),
      /* Le format le plus compressé et moderne */ url('/fonts/cooperl.ttf') format('truetype'); /* Pour une compatibilité plus ancienne */
    font-weight: normal;
    font-style: normal;
  }
</style>
